<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.dapi.telegram-insights</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/danil/code/telegram-insights/ops/office3/telegram-insights-with-pass</string>
    <string>run</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/danil/code/telegram-insights</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>60</integer>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>/Users/danil/code/telegram-insights/log/telegram-insights.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/danil/code/telegram-insights/log/telegram-insights.error.log</string>
</dict>
</plist>
